.jumbotron {
    background-image: url("../img/soup1.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

body {
    background-color: #2A324B;
}

.jumboText {
    text-align: center;
    color: white;
    text-shadow: 2px 2px black;
    font-family: 'Permanent Marker', cursive;

}

#cardBg {
background-image: url("../img/tampopo2.webp");
background-repeat: no-repeat;
background-position: center;
background-size: cover;
color: white;
text-shadow: 2px 2px black;
height: 350px;
max-height: 350px;
overflow-y: auto
}

#cardBg2 {
    background-image: url("../img/pho.gif");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: white;
    text-shadow: 2px 2px black;
    height: 350px;
    max-height: 350px;
    overflow-y: auto;
}

.soupText {
    font-size: 20px;
    
}

.card-header{
    background-color: #F7C59F ;
    color: black;
    text-shadow: 1px 1px white;
}

.reorderSoup, .deleteSoup, .soupSlurp {
    background-color: #767B91;
    border: none;
    margin: 5px;
}

.subBtn{
    background-color: #767B91;
    border: none;
}


